[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
rope = "*"

[packages]
bs4 = "*"
requests = "*"
pyhtml = "*"
PyInstaller = "==3.6"
"ruamel.yaml" = "==0.16.7"
"ruamel.yaml.clib" = "==0.2.0"
setuptools = "<45.0.0"
pdfkit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
