    body {
        font-size: 110%;
    }

    div {
        width: auto
    }

    div.quote {
        text-align: right;
        font-style: italic;
        font-size: 90%;
    }

    div.quote_author {
        text-align: right;
        font-style: italic;
        font-weight: bold;
        font-size: 90%;
    }